<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>O Matador de Monstros</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <div class=" panel scores">
                <div class="score">
                    <h1>Jogador</h1>
                    <div class="life-bar">
                        <!-- no :class estou dizendo que só será aplicada a classe danger caso o valor de playerLife seja menor que 20 -->
                        <div class="life"
                            :class="{danger: playerLife < 20}"
                            :style="{width: playerLife + '%'}"> <!-- aplicando a largura do elemento playerLife e dizendo para ser tratado como % -->
                        </div>
                    </div>
                    <div>{{ playerLife }}%</div>
                </div>
                <div class="score">
                    <h1>Monstro</h1>
                    <div class="life-bar">
                        <div class="life"
                            :class="{danger: monsterLife < 20}"
                            :style="{width: monsterLife + '%'}"></div>
                    </div>
                    <div>{{ monsterLife }}%</div>
                </div>
            </div>
            <!-- estou chamando a função hasResult com a divertiva v-if
            então esta div só será exibida se atender aos requisitos da função -->
            <div v-if="hasResult" class=" panel result">
                <!-- condicional para exibir se o jogador ganhou ou perdeu-->
                <div v-if="monsterLife == 0" class="win">Você Ganhou :D</div>
                <div v-else class="lose">Você Perdeu :(</div>
            </div>
            <div class=" panel buttons">
                <button class="btn attack">Ataque</button>
                <button class="btn attack-especial">Ataque especial</button>
                <button class="btn heal">Curar</button>
                <button class="btn give-up">Desistir</button>
                <button class="btn new-game">Novo jogo</button>
            </div>
            <div class=" panel logs">4</div>
        </div>

        <script src="app.js"></script>
    </body>
</html>